.st0 {
    fill: #626267;
}

.map-data {
    position: absolute;
    width: 100%;
    height: 544.51px;
}

.svg-map {
    width: 100%;
    height: 544.51px;
}

.map-container {
    position: relative;
}

.map-heart {
    path {
        &:first-of-type {
            fill: $purple
        }

        &:last-of-type {
            fill: $beigeDark
        }
    }
}

.tooltip-bts {
    position: absolute;
    padding: 15px;
    background-color: $purple;
    border-radius: 5px;
    opacity: 0;
    color: $black;
    font-size: 17px;
    pointer-event: none;
}

.tooltip-hs {
    position: absolute;
    padding: 15px;
    background-color: $beigeDark;
    border-radius: 5px;
    opacity: 0;
    color: $black;
    font-size: 17px;
    pointer-event: none;
}

.tooltip-star {
    position: absolute;
    padding: 15px;
    background: $bg-color;
    border-radius: 5px;
    opacity: 0;
    color: $black;
    font-size: 17px;
    pointer-event: none;
}

.mobile {

    img {
        margin-bottom: 50px
    }
    h3 {
        @include font50;
        text-align: center;
    }
}