.listeners {
    background: $bg-color;

    .sec-titles {
        padding: 25px 50px;
        margin: auto;
        width: fit-content;
        background-color: $white;
    }
}

.listeners-legenda {
    @include flex(row, 10px);
    align-items: center;
    padding: 15px;
    margin: 25px auto 80px auto;
    width: fit-content;
    background-color: $white;

    i {
        font-size: 30px;
    }
}

.icon {
    @include gridClmn(1fr 1fr, 50px);

    article {
        @include gridClmn(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr, 20px);
        height: fit-content;

        &:first-of-type {
            margin-right: auto;
        }

        &:last-of-type {
            margin-left: auto;
        }
        &:first-of-type {
            margin-right: auto;
        }

        i {
            font-size: 40px;
        }
    }
}

.tooltip-container {
    @include justFlex(space-around);
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
}

.tooltip-listeners {
    @include flex(column, 0px);
    padding: 25px;
    width: 540px;
    background-color: $white;
    text-align: center;

    h3 {
        @include font25;
        font-weight: normal;

        &:first-of-type {
            order: -1;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    h4 {
        order: -1;
        @include font59;
    }
}

#bts-tooltip {
    margin-right: auto;
}

#hs-tooltip {
    margin-left: auto;
}

