header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding: 60px 80px 60px 80px;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #EEDDBB), color-stop(50%, #BDBBDD));
  background: linear-gradient(to left, #EEDDBB 50%, #BDBBDD 50%);
}

header article {
  position: relative;
  width: 580px;
  margin: 20px;
}

header article > div {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header article > p:first-of-type {
  font-size: 25px;
  line-height: 38px;
}

header a {
  position: absolute;
  display: block;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  color: #36353D;
}

header a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}

h1 {
  font-size: 59px;
  line-height: 70px;
  margin-bottom: 10px;
}

.h-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.img-user {
  position: absolute;
  right: calc(-110px / 2);
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-artist {
  width: 460px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.xn {
  top: calc(-50px);
}

.ms {
  bottom: calc(-20px);
}

.tracks {
  position: relative;
  margin-top: 40px;
}

.tracks .sec-titles {
  margin-bottom: 30px;
}

.tracks-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.tracks-container h3 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 30px;
}

.tracks-container h4 {
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
}

.tracks-container article:first-of-type h3 {
  color: #696789;
}

.tracks-container article:last-of-type h3 {
  color: #B2A383;
}

.gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.gallery article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  gap: 0px 20px;
}

.gallery article:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.gallery article:first-of-type h4 {
  font-size: 25px;
  line-height: 30px;
}

.gallery article:first-of-type p {
  margin-top: -10px;
}

.gallery p {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  color: #696789;
}

.gallery img {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.gallery button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 55px;
  height: 55px;
  font-size: 25px;
  background-color: #696789;
  color: white;
  border: none;
  border-radius: 5px;
}

.our-fave {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 80px;
}

.our-fave img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
}

.our-fave article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  gap: 10px 30px;
}

.our-fave article:first-of-type p:first-of-type {
  color: #696789;
}

.our-fave article:last-of-type p:first-of-type {
  color: #B2A383;
}

.our-fave article p:nth-of-type(1) {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.our-fave article p:nth-of-type(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  padding: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.divider {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 5px;
  height: 780px;
  background-color: rgba(224, 224, 224, 0.3);
}

.listeners {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #EEDDBB), color-stop(50%, #BDBBDD));
  background: linear-gradient(to left, #EEDDBB 50%, #BDBBDD 50%);
}

.listeners .sec-titles {
  padding: 25px 50px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
}

.listeners-legenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: 25px auto 80px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
}

.listeners-legenda i {
  font-size: 30px;
}

.icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.icon article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.icon article:first-of-type {
  margin-right: auto;
}

.icon article:last-of-type {
  margin-left: auto;
}

.icon article:first-of-type {
  margin-right: auto;
}

.icon article i {
  font-size: 40px;
}

.tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
}

.tooltip-listeners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  padding: 25px;
  width: 540px;
  background-color: white;
  text-align: center;
}

.tooltip-listeners h3 {
  font-size: 25px;
  line-height: 38px;
  font-weight: normal;
}

.tooltip-listeners h3:first-of-type {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-weight: bold;
  margin-bottom: 10px;
}

.tooltip-listeners h4 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-size: 59px;
  line-height: 70px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #36353D;
}

p {
  font-size: 15px;
  line-height: 25px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 5px;
}

.sec-titles {
  text-align: center;
}

.sec-titles h2 {
  font-size: 59px;
  line-height: 70px;
}

.sec-titles p {
  font-size: 25px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-titles span {
  font-size: 15px;
  line-height: 25px;
  margin-left: 10px;
}

.sec {
  padding: 40px 80px;
}

.tracks {
  padding: 40px 60px;
}
/*# sourceMappingURL=style.css.map */